* {
    box-sizing: border-box; /* Aplica box-sizing para garantir que o padding e as bordas não afetem a largura e altura */
    margin:0;
    padding:0;
  }

  body {
    background: url(../../assets/img/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}   

.container-pedidos {
    
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}

/* Estilo do título */
.container-pedidos h1 {
    font-size: 2em;
    background-color: #290909;
    padding: 20px;
}

/* Configuração da grade para 3 colunas */
.grade-pedidos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 20px; /* Espaçamento entre as células */
    padding: 10px;
    max-width: 1200px; /* Largura máxima da grade */
    margin: 0 auto; /* Centraliza a grade */
    width: 100%;
}

/* Estilo para cada item de pedido */
.pedido-item {
    background-color: #562727;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100%; /* Garante que o item ocupe toda a altura da célula */
    box-sizing: border-box;
    position: relative;
}

/* Ajuste nos títulos */
.pedido-item h2, .pedido-item h3 {
    margin-top: 0;
}

/* Estilos para os parágrafos */
.pedido-item p {
    margin: 20px 0;
}

/* Remove as bolinhas da lista interna */
.pedido-item ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.pedido-item p{
    font-size: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 2.5rem;
    padding: 20px;
    background-color: #290909;
}

/* Responsividade para telas menores */
@media (max-width: 720px) {
  .grade-pedidos {
    grid-template-columns: 1fr; /* Em telas pequenas, exibe em uma coluna */
  }
}