* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a; 
    color: #e0e0e0; 
    font-family: 'Inter', sans-serif; 
}

.main-header {
    position:fixed;
    top: 0;
    width: 100%; 
    background-color: #1a1a1a; 
    margin-left: -36%;
    border-bottom: 1px solid #2a2a2a;
    padding: 30px 0; /* Increase the height of the header */
    z-index: 1000; /* Ensure the header is above other elements */
}

.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px; /* Adjust padding to maintain spacing */
    width: 100%; 
}

#brand-name {
    color: #f5a623; 
    background-color: #1a1a1a;
    margin-top: 1%;
    font-size: 48px; /* Increase font size */
    font-family: 'Righteous', sans-serif;
}

#nav-items {
    display: flex;
    align-items: center;
}

#nav-items a:link, #nav-items a:visited {
    color: #e0e0e0; 
    padding: 20px;
    font-size: 18px; /* Increase font size */
}

#nav-items a {
    text-decoration: none;
    padding: 20px;
}

#nav-items a:hover {
    background-color: #2a2a2a; 
    border-radius: 5px;
    transition: background-color 1s ease;
    color: #f5a623; 
}