/* Estilos para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para células de cabeçalho e células de dados */
th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Estilos específicos para cabeçalhos de tabela */
th {
    background-color: #f2f2f2;
}

/* Estilos para o conteudo do Formulario */
.section-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    margin-bottom: 20px;
}

/* Estilos para o cabeçalho da seção */
.section-header {
    display: flex; /* Usa flexbox para alinhar itens */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center;
    padding: 0px 0px 0px 0px;
}

/* Estilos para o título da seção */
.section-header h2 {
    margin: 0;
}