.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Cor de fundo do contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para uma seção genérica */
.section {
    margin-bottom: 30px;
}

/* Estilos para o cabeçalho da seção */
.section-header {
    display: flex; /* Usa flexbox para alinhar itens */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para o título da seção */
.section-header h2 {
    margin: 0;
}

/* Estilos para o conteúdo da seção */
.section-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
}

/* Estilos para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para células de cabeçalho e células de dados */
th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Estilos específicos para cabeçalhos de tabela */
th {
    background-color: #f2f2f2;
}

/* Estilos para botões */
.btn {
    padding: 8px 12px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para o estado de hover do botão */
.btn:hover {
    background-color: #0c53a4;
}

/* Estilos para formulários */
form {
    margin-top: 10px;
}

/* Estilos para rótulos de formulário */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para elementos de entrada de texto e número, e seletores */
input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilos para o foco nos elementos de entrada */
input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
    outline: none;
}

/* Estilos para botões de envio em formulários */
input[type="submit"] {
    color: #fff;
    border: none; /* Remove a borda */
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para uma linha divisória */
.divider {
    height: 30px;
    width: 2px;
    background-color: white;
    margin: 0 50px;
}

/* Estilos para links genéricos */
a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    
}
